@charset "utf-8";
@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css');


html{
    font-size: 16px;
    max-width: 100%;
}
body {
    font-family:'Roboto', 'Spoqa Han Sans Neo', 'Noto Sans KR',sans-serif;
}
body{
    background: url(https://tailwindcss.com/_next/static/media/docs-dark@tinypng.1bbe175e.png) no-repeat;
    background-size:100% auto;
    background-position: 0px 0px;
    background-attachment : fixed ;
    background-color: #ffffff;
    color: #334155;
    transition: background-color 0.2s;

}
em,i{
    @apply not-italic
}
.dark body{
    background-color: #0d111b;
    color: #ffffff;
}
.border-custom {
    background-image: linear-gradient(0deg, #000000, #1c1c1c), linear-gradient(90deg, #00dc82, #1de0b1, #36e4da);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    border-color: transparent;
    border-radius: 6px;
    border-width: 1px;
}
:root {
    --safe-top: calc(env(safe-area-inset-top));
    --safe-bottom: calc(env(safe-area-inset-bottom));
    --safe-watch: 0px;
    --mwide: 480px;
    --scrPad: 0px;
    --active-color: #3ecf8e;
    --inpu-bgc: #0c0c0c;
    --inpu-bdc: #303030;
    --inpu-bdr: 4px
}
a, button, input {
    user-select: auto;
    touch-action: auto;
    -webkit-tap-highlight-color: initial;
}

.safe-top-pd{padding-top: var(--safe-top);}
.safe-top-mg{margin-top: var(--safe-top);}
.safe-bottom-pd{padding-bottom: var(--safe-bottom);}
.safe-bottom-mg{margin-bottom: var(--safe-bottom);}

.container{  
    @apply px-6 py-4 my-auto max-w-full;
}

i.ico{
    &-google{
        @apply w-4 h-4 bg-no-repeat inline-flex;
        background-image: url(/img/ico_google.svg);
    }
    &-github{
        @apply w-4 h-4 bg-no-repeat inline-flex;
        background-image: url(/img/ico_github.svg);
    }
    &-kakao{
        @apply w-4 h-4 bg-no-repeat inline-flex;
        background-image: url(/img/ico_kakao.svg);
    }
}
.btn{
    @apply flex-shrink-0 rounded-md text-sm gap-x-1.5 px-2.5 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-gray-700 text-gray-700 dark:text-gray-200 bg-gray-50 hover:bg-gray-100 disabled:bg-gray-50 aria-disabled:bg-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700/50 dark:disabled:bg-gray-800 dark:aria-disabled:bg-gray-800 focus-visible:ring-2 inline-flex items-center justify-center;
    &.btn-primary{
        @apply  text-white bg-green-500 hover:bg-green-500/90  dark:bg-green-600 dark:hover:bg-green-600/90 ring-green-900/10 hover:ring-green-500 dark:ring-green-700 
    }
    &-xs{
        @apply text-[0.7rem] px-1.5 py-0.5 rounded font-normal
    }
    &-sm{
        @apply text-xs px-1.5 py-1.5 rounded font-normal
    }
    &-md{
        @apply text-sm px-2.5 py-1.5
    }
    &-lg{
        @apply text-sm px-3.5 py-2
    }
    &-xl{
        @apply text-base px-5 py-3
    }
    &:disabled{
        @apply opacity-70 text-opacity-50 cursor-not-allowed;
        
    }
}

::-webkit-scrollbar{  width:10px;  height:10px;}
::-webkit-scrollbar-track{background-color: #ededed;}
::-webkit-scrollbar-corner{background-color: transparent;}
::-webkit-scrollbar-button{display: none;}
::-webkit-scrollbar-thumb{width: 10px; border-radius:7px; background-color: #00000044;border: solid 3px transparent; background-clip: content-box;}
::-webkit-scrollbar-thumb:hover{background-color:#aaaaaa;}

.dark ::-webkit-scrollbar-track{background-color: #151515;}
.dark ::-webkit-scrollbar-thumb{background-color: #ffffff22;}
.dark ::-webkit-scrollbar-thumb:hover{background-color:#444;}
/*  */

