@charset "utf-8";
body {
    font-family: 'Roboto','Noto Sans KR', sans-serif;
  }
body{
    background-color: #0d111b;
}
.border-custom {
    background-image: linear-gradient(0deg, #000000, #1c1c1c), linear-gradient(90deg, #00dc82, #1de0b1, #36e4da);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    border-color: transparent;
    border-radius: 6px;
    border-width: 1px;
}
:root {
    --safe-top: calc(env(safe-area-inset-top));
    --safe-bottom: calc(env(safe-area-inset-bottom));
    --safe-watch: 0rem;
    --mwide: 480rem;
    --scrPad: 0rem;
    --active-color: #3ecf8e;
    --inpu-bgc: #0c0c0c;
    --inpu-bdc: #303030;
    --inpu-bdr: 4rem
}
.safe-top-pd{padding-top: var(--safe-top);}
.safe-top-mg{margin-top: var(--safe-top);}
.safe-bottom-pd{padding-bottom: var(--safe-bottom);}
.safe-bottom-mg{margin-bottom: var(--safe-bottom);}
