@charset "utf-8";
html{
    font-size: 16px;
    max-width: 100%;
}
body {
    font-family: 'Roboto','Noto Sans KR', sans-serif;
  }
body{
    background-color: #ffffff;
    color: #334155;
    transition: background-color 0.2s;
}
.dark body{
    background-color: #0d111b;
    color: #ffffff;
}
.border-custom {
    background-image: linear-gradient(0deg, #000000, #1c1c1c), linear-gradient(90deg, #00dc82, #1de0b1, #36e4da);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    border-color: transparent;
    border-radius: 6px;
    border-width: 1px;
}
:root {
    --safe-top: calc(env(safe-area-inset-top));
    --safe-bottom: calc(env(safe-area-inset-bottom));
    --safe-watch: 0px;
    --mwide: 480px;
    --scrPad: 0px;
    --active-color: #3ecf8e;
    --inpu-bgc: #0c0c0c;
    --inpu-bdc: #303030;
    --inpu-bdr: 4px
}
.safe-top-pd{padding-top: var(--safe-top);}
.safe-top-mg{margin-top: var(--safe-top);}
.safe-bottom-pd{padding-bottom: var(--safe-bottom);}
.safe-bottom-mg{margin-bottom: var(--safe-bottom);}

.container{overflow-y: scroll; max-width: inherit;
    @apply px-6 py-4
}


::-webkit-scrollbar{  width:10px;  height:10px;}
::-webkit-scrollbar-track{background-color: transparent;}
::-webkit-scrollbar-corner{background-color: transparent;}
::-webkit-scrollbar-button{display: none;}
::-webkit-scrollbar-thumb{width: 10px; border-radius:7px; background-color: #00000044;border: solid 3px transparent; background-clip: content-box;}
::-webkit-scrollbar-thumb:hover{background-color:#aaaaaa;}

.dark ::-webkit-scrollbar-track{}
.dark ::-webkit-scrollbar-thumb{background-color: #ffffff22;}
.dark ::-webkit-scrollbar-thumb:hover{background-color:#444;}
/*  */

